* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.service {
  list-style: none;
  margin-left: 30px;
}

.attendee-info {
  margin-bottom: 25px;
}

.attende-service {
  margin-bottom: 25px ;
}

.services-info + .services-info {
  margin-top: 15px;
}
